
tpbn65v_9lm.ndm
bump_bottom.ndm
bump.ndm
ethernet_chiplet.ndm
interposer.ndm
top.ndm
compute_chiplet.ndm

output_data
reports

check_workspace.ems
lm_*.log
lm_*.txt

3dic*.log
3dic*.txt

crte*.txt
default*.svf
gcr*.tcl

*.idf
*.png